<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>관리자</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('../partials/nav') %>
<h1>관리자 페이지</h1>
<ul>
  <li><a href="/admin/users">유저 관리</a></li>
  <li><a href="/admin/products">상품 관리</a></li>
  <li><a href="/admin/reports">신고 관리</a></li>
</ul>
</body>
</html>
