<%- include('../partials/head', { title: '관리자' }) %>
<body>
<%- include('../partials/nav') %>
<div class="container">
  <h1>관리자 페이지</h1>
  <ul class="list-group" style="max-width: 320px;">
    <li class="list-group-item"><a href="/admin/users">유저 관리</a></li>
    <li class="list-group-item"><a href="/admin/products">상품 관리</a></li>
    <li class="list-group-item"><a href="/admin/reports">신고 관리</a></li>
  </ul>
</div>
<%- include('../partials/foot') %>
