<%- include('partials/head', { title: '403 Forbidden' }) %>
<body>
<div class="container text-center mt-5">
  <h1>요청이 거부되었습니다</h1>
  <p>페이지를 새로고침한 뒤 다시 시도해주세요.</p>
  <a class="btn btn-primary" href="/">홈으로</a>
</div>
<%- include('partials/foot') %>
